<div class="container">
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-12 col-lg-12 col-xl-10">
                    <div>
                        <div class="card-body p-4 text-black">
                            <div class="col-lg-12">
                                <h2 style="text-align: center;"><b>Reset your password</b></h2>
                                <div class="row mt-2">
                                    <div class="col-md-5 align-items-center">
                                        <img src="/assets/images/forgot-password-change.png" width="100%"
                                            alt="reset password from recovery">
                                    </div>
                                    <div class="col-md-7 mt-5 mb-3">
                                        <!-- Change password input fields -->
                                        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
                                            <div class="mb-3 row">
                                                <label for="token" class="col-sm-4 col-form-label">Token</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="token"
                                                        formControlName="token">
                                                </div>
                                                <div class="text-danger error-text"
                                                    *ngIf="token?.dirty && token?.invalid">
                                                    Please enter a valid token
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <label for="password" class="col-sm-4 col-form-label">New
                                                    password</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control" id="password"
                                                        formControlName="password">
                                                </div>
                                                <div class="text-danger error-text"
                                                    *ngIf="password?.dirty && password?.invalid">
                                                    Please check your password
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm new
                                                    password</label>
                                                <div class="col-sm-8">
                                                    <input type="password" class="form-control" id="confirmPassword"
                                                        formControlName="confirmPassword">
                                                </div>
                                                <div class="text-danger error-text"
                                                    *ngIf="confirmPassword?.dirty && confirmPassword?.invalid">
                                                    Please check your password
                                                </div>
                                            </div>
                                            <!-- Submit button that calls put request to User API -->
                                            <button class="btn btn-dark col-6 offset-3 my-3"
                                                data-mdb-ripple-color="dark">
                                                Reset password
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div *ngIf="isLoading" class="spinner"></div>
<div *ngIf="isLoading" class="spinner-image"></div>