<div class="container">
  <section class="h-100">
    <div class="container pb-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div>
            <div class="card-body p-4 text-black">
              <div class="col-lg-12 forgot-password-body">
                <!-- Header image -->
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <img src="/assets/images/forgot-password-sent.png" alt="recover password email" width="100%">
                  </div>
                </div>

                <h2><b>Sent!</b></h2>
                <p>We've dispatched our worker drones<br>
                  Please check your inbox for the reset password token</p>
                <button routerLink="../" type="button" class="btn btn-dark mt-3"
                  data-mdb-ripple-color="dark" style="z-index: 1">
                  Return to home
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>