<div class="container justify-content-center align-center text-center mt-5">
    <h3><b>Have you verified your email?</b></h3>
    <div class="row justify-content-center align-center mt-3">
        <div class="col-md-6 col-sm-8">
            <img src="/assets/images/restricted-page.png" alt="Restricted: User email not verified"
                style="width: 100%;">
        </div>
    </div>
    <div class="row justify-content-center align-center text-center mt-3">
        Please check your inbox for the verification code
    </div>
    <div class="row justify-content-center align-center text-center mt-3">
        <div class="col-md-6">
            <button class="btn btn-dark" routerLink="/">Return to home</button>
        </div>
    </div>
</div>